version: "3.9"
services:
  db:
    container_name: ender-postgresql
    image: postgres:alpine
    hostname: postgres
    shm_size: 128mb
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}

  adminer:
    container_name: "ender-adminer"
    image: dockette/adminer:postgres
    hostname: adminer
    restart: always
    ports:
      - 8080:8080

  rabbitmq:
    container_name: "ender-rabbitmq"
    image: rabbitmq:management-alpine
    ports:
      - '5672:5672'
      - '15672:15672'

  mosquitto:
    container_name: "ender-mosquitto"
    image: eclipse-mosquitto
    ports:
      - '1883:1883'
      - '8883:8883'
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: always
