# env
DATABASE_URL=postgres://
DB_USER=
DB_PASSWORD=
DB_NAME=ender

# To get a string like this run:
# openssl rand -hex 32
API_SECRET_KEY=

BROKER_URL=amqp://
RMQ_USER=admin
RMQ_PASS=admin
RESULT_BACKEND=rpc://

RATE_LIMIT=20/m

ANDROID_DEVICE=