<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="{{ url_for('static', path='mvp.css') }}">

    <meta charset="utf-8">
    <meta name="description" content="SaaS para el envío de SMS en Cuba a través de una limpia y eficiente API REST">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EnderSMS</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="" height="70"></a>
            <ul>
                <li><a href="/docs">Documentación</a></li>
                <li><a href="#caracteristicas">Características</a></li>
                <!-- <li><a href="#precios">Precios</a></li> -->
                <li><a href="#faq">FAQ</a></li>
                <li><a href="https://github.com/RevDevGroup/ender" target="_blank">Github</a></li>
            </ul>
        </nav>
        <h1>EnderSMS<sup>Beta</sup></h1>
        <p><b>SaaS</b> para el envío de <b>SMS</b> en Cuba 🇨🇺 a través de una <b>API REST</b> limpia y eficiente</p>
        <br>
        <p><a href="/docs"><b>📖 Documentación &rarr;</b></a></p>
    </header>
    <main>
        <hr>
        <section id="caracteristicas">
            <header>
                <h2>Características</h2>
            </header>
            <aside>
                <h3>Potenciada con OpenAPI 🚀</h3>
                <p>Fácil de integrar en proyectos nuevos y plataformas existentes con <a href="/docs">Documentación</a>
                    interactiva.</p>
            </aside>
            <aside>
                <h3>SaaS 🌎</h3>
                <p>Úsala desde cualquier parte del mundo.</p>
                <p><small>Incluyendo desde Cuba</small></p>
            </aside>
            <aside>
                <h3>Singular</h3>
                <p>Único servicio cubano* que entrega SMS a través de una API.</p>
                <p><small>*No oficial en Cuba.</small></p>
            </aside>
            <aside>
                <h3>Paga con Criptos</h3>
                <p>Utiliza varias criptomonedas con <a href="https://qvapay.com">Qvapay</a> como procesador de pagos.
                </p>
            </aside>
        </section>
        <hr>
        <section>
            <blockquote>
                <img src="{{ url_for('static', path='icon-quote.svg') }}" alt="icon quote" height="80">
                <br>
                "Nosotros nos encargamos de los envíos para que puedas concentrarte en lo que más importa. <b>Tu
                    Proyecto</b>"
                <footer><i>- The Revdev Group</i></footer>
            </blockquote>
        </section>
        <hr>
        <article id="faq">
            <h2>Preguntas Frecuentes</h2>
            <details>
                <summary>
                    ¿Es posible usar la API desde otras partes del mundo?
                </summary>
                <p>Sí, el servidor REST API está alojado en servidores internacionales.</p>
            </details>
            <details>
                <summary>
                    ¿Por qué la web se ve simple?
                </summary>
                <p>Para crear este servicio se necesita de un producto mínimo viable. Con el tiempo se realizarán
                    cambios estructurales, tanto en la web, como en la API REST.</p>
            </details>
            <details>
                <summary>
                    ¿Cuánto cuesta enviar un mensaje?
                </summary>
                <p>Por el momento, enviar un mensaje usando la plataforma es de 3 CUP. En un futuro el precio "podría"
                    disminuir.</p>
            </details>
            <details>
                <summary>
                    ¿Cómo puedo recargar mi cuenta?
                </summary>
                <p>A través del portal de usuario. Debe recargar usando la pasarela de pagos <a
                        href="https://qvapay.com">QvaPay</a>.</p>
            </details>
            <details>
                <summary>
                    Me gustó ¿Cómo puedo ayudar?
                </summary>
                <p>Usando la plataforma. Duh! 🙄. Pero también compartiendo el link en tus redes sociales.</p>
                <p>Si eres programador/a puedes contribuir a su código fuente en <a
                        href="https://github.com/TheRevDevGroup/ender">Github</a> o dejarnos una estrella 🌟</p>
            </details>
        </article>
    </main>
    <footer>
        <hr>
        <p>
            Email: <a href="mailto:jimscope@protonmail.com">jimscope@protonmail.com</a>
            <br>
            Telegram: <a href="https://t.me/TheRevDevGroup">TheRevDevGroup</a>
        </p>
        <small>Hecho con 💗 por <a href="https://revdev.cc">RevDev</a> </small>
    </footer>
</body>

</html>